---
import Layout from "../layouts/BlogPost.astro";
---

<Layout title="About Me">
  <p>
    Hello, this is Utku.I'm a polyglot developer. I've been a tech-lead /
    backend architect for the most of my career. Since 2015 my main area of
    interest has been JavaScript - leading me into UI development too – which
    makes me a well rounded full-stack developer productive at both high and low
    levels of system design with a product focus.
  </p>

  <p>
    I've been around. I love building things. I've built startups, grown teams,
    worked at enterprises, did a fair amount of contract/freelance work.
  </p>

  <p>
    My main area of expertise lies in JavaScript/Typescript/Node, Python, and
    JVM ecosystems on Unixy platforms with strong devops skills. In a previous
    life I did desktop and games development via Delphi/C++. Language-wise i'd
    love to go back to my roots - systems developer with low level languages
    like Rust OR doing the opposite and going higher level like platforms like
    Clojure. I'm kinda sick of the in-between languages listed above but I found
    JS/TS to be the perfect all-around platform in recent years and stuck there;
    practicality &amp; ecosystem wins.
  </p>

  <p>
    I have managed small to mid size teams before; however these days I refrain
    from management roles - unless it's a hands-on one - I do not enjoy it as
    much as coding and I’d like to go deeper on my favorite topics: modern UI
    technologies like React/Solid.js, modern DB technologies (especially
    column-oriented/OLAP), distributed computing, and simplifying app development
    via bridging the UI layers with DB layers in novel ways like GraphQL (not
    very novel these days though, isn' it :)).
  </p>
</Layout>
