---
import Layout from "../layouts/BlogPost.astro";
---

<Layout title="About Me">
  <p>
    Hello, this is Utku. I'm a polyglot developer. I've been a tech-lead /
    backend architect for the most of my career. Since 2015 my main area of
    interest has been JavaScript - which led me into frontend roles too – which
    makes me a well rounded full-stack developer productive at both high and low
    levels of system design with a product focus.
  </p>

  <p>
    I've been around. I've built startups, grown teams, worked at enterprises,
    did a fair amount of contract/freelance work.
  </p>

  <p>
    My main area of expertise lies in JavaScript and Python ecosystems on Unixy
    platforms. I've been involved in JVM world in recent years. In a previous
    life I was doing desktop development via Delphi/C++.
  </p>

  <p>
    I have managed small to mid size teams before; however these days I refrain
    from management roles - I do not enjoy it as much as coding and I’d like to
    go deeper on my favorite topics: modern DB technologies, large scale data
    processing, and simplifying app development via bridging the UI layer with
    DB layer in novel ways like GraphQL (not very novel these days though, isn'
    it :)).
  </p>
</Layout>
