---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const text = `{

  :name "M. Utku Karataş"

  :work [ { :company  <s>"<a href='https://hazelcast.com'>Hazelcast</a>"</s>
            :position "Senior Software Developer" } ]

  :location "SF/CA"

  :email "<a href='mailto:m.utku.k@gmail.com'>m.utku.k@gmail.com</a>"

}`;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Home" description={SITE_DESCRIPTION} />
    <style>
      main {
        position: relative;
      }
      img {
        position: absolute;
        right: 5em;
        top: 2em;
      }
    </style></head
  >

  <body>
    <Header title={SITE_TITLE} />
    <main>
      <img
        src="/utku-profile-photo.jpg"
        alt="me somehow happy circa 2015"
        width="64px"
      />
      <pre set:html={text} />
    </main>
    <Footer />
  </body>
</html>
