---
import Layout from "../layouts/BlogPost.astro";
---

<Layout title="Interesting Things">
  <p>
    Internals of a react profiler:
    https://github.dev/aidenybai/react-scan/blob/main/src/core/instrumentation/utils.ts
  </p>
  <p>
    Two factions of C++:
    https://herecomesthemoon.net/2024/11/two-factions-of-cpp/
  </p>
  <p>
    Do you need Redis? PostgreSQL does queuing, locking, and pub/sub (2021):
    https://news.ycombinator.com/item?id=42036303
  </p>
  <p>
    Interesting DB tool - Ultorg: 
    https://www.ultorg.com/
  </p>
  <p>
    LLM eval tool: 
    https://www.adaline.ai/?rdt_cid=4933908533659232673
  </p>
  <p>
    Self hosted LLM UI:
    https://www.librechat.ai/
  </p>
  <p>
    Rearchitecting: Redis to SQLite:
    https://wafris.org/blog/rearchitecting-for-sqlite#
  </p>
  <p>
    Why bother with argv0:
    https://www.wietzebeukema.nl/blog/why-bother-with-argv0
  </p>
</Layout>
