---
import Layout from "../layouts/BlogPost.astro";
---

<Layout title="Interesting Things">
  <p>
    <a href="https://github.dev/aidenybai/react-scan/blob/main/src/core/instrumentation/utils.ts" target="_blank">Internals of a react profiler</a>
  </p>
  <p>
    <a href="https://herecomesthemoon.net/2024/11/two-factions-of-cpp/" target="_blank">Two factions of C++</a>
  </p>
  <p>
    <a href="https://news.ycombinator.com/item?id=42036303" target="_blank">Do you need Redis? PostgreSQL does queuing, locking, and pub/sub (2021)</a>
  </p>
  <p>
    <a href="https://www.ultorg.com/" target="_blank">Interesting DB tool - Ultorg</a>
  </p>
  <p>
    <a href="https://www.adaline.ai/?rdt_cid=4933908533659232673" target="_blank">LLM eval tool</a>
  </p>
  <p>
    <a href="https://www.librechat.ai/" target="_blank">Self hosted LLM UI</a>
  </p>
  <p>
    <a href="https://wafris.org/blog/rearchitecting-for-sqlite#" target="_blank">Rearchitecting: Redis to SQLite</a>
  </p>
  <p>
    <a href="https://www.wietzebeukema.nl/blog/why-bother-with-argv0" target="_blank">Why bother with argv0</a>
  </p>
</Layout>
