---
import Layout from "../layouts/BlogPost.astro";
---

<style>
  h2 {
    font-size: 1.1em;
    margin-bottom: 1em;
  }
  h3 {
    font-size: 0.8em;
    margin-top: 2em;
  }
  time {
    color: var(--gray-dark);
    font-size: medium;
    font-style: italic;
  }
  p {
    margin: 0.8em 0;
    text-align: justify;
  }
  p.commentary {
    font-family: monospace;
    font-size: smaller;
    border-left: 3px solid var(--accent);
    padding-left: 1em;
  }
</style>

<Layout title="Resume">
  <p>
    Here is my official <a href="/utku-karatas-resume.pdf" target="_blank"
      >resume as .pdf</a
    > - as short as possible for my 15+ years in the field. Or you can read
    below for a director's cut edition:
  </p>

  <h2># Professional Experience</h2>

  <section>
    <h3>SENIOR SOFTWARE DEVELOPER; HAZELCAST</h3>
    <time datetime="2020">2020Q4-PRESENT</time>
    <p>
      <a href="https://hazelcast.com" target="_blank">Hazelcast</a> is the
      leading open source in-memory data grid in JVM world. Being part of the RD
      & Cloud team I’m building and maintaining management & monitoring
      applications of Hazelcast ecosystem, helping to integrate existing
      applications into the Cloud Paas solution of the company.
    </p>
    <p>
      Technical work mostly consists of Java, Spring, Typescript/React +
      Docker/Kubernetes as the orchestrator.
    </p>
    <p class="commentary">
      My fascination with DB technologies eventually led me here, which was a
      local company for me at the time. I'm still working here with a kick-ass
      team.
    </p>
  </section>

  <section>
    <h3>FULL STACK DEVELOPER; STEALTH STARTUP</h3>
    <time datetime="2019">2019Q4-2020Q3</time>

    <p>
      Led the team of 3 on mobile platforms via React Native. Also helped
      backend infrastructure team scaling with ScyllaDB modeling & scaling
      terabytes of daily throughput. This was a startup working on analytical
      insights of social media users and involved around scraping/parsing public
      profiles. We had to cease and desist due to impossible to get around legal
      reasons.
    </p>
    <p>
      Technical work mostly consisted of Typescript/React Native, Node.js,
      PostgreSQL, ScyllaDB.
    </p>
    <p class="commentary">
      This is where I was enlightened about the intense ecosystem of databases and
      distributed computing in general. PostgreSQL just didn't cut it for our
      high throughput needs here so we had to solve this with
      Cassandra-&gt;ScyllaDB which suited our use cases perfectly (high write
      iops + analytical queries + horizontal scaling).
    </p>
  </section>

  <section>
    <h3>CONTRACT DEVELOPER; WHIPDATA</h3>
    <time datetime="2018">2018Q2 – 2019Q4</time>

    <p>
      Led the frontend at Whipdata – an Amazon marketplace analytics platform.
      Vue/Nuxt/Node was our choice of framework/platform.
    </p>
    <p>
      Also helped the backend team architecting/scaling the system with
      Django/PostgreSQL.
    </p>
  </section>

  <section>
    <h3>CONTRACT DEVELOPER; ZEBRAMO</h3>
    <time datetime="2017">2017Q1 – 2018Q2</time>

    <p>
      Built the web application of <a href="https://zebramo.com" target="_blank"
        >Zebramo</a
      >
       app. from scratch. This was a large scale consumer facing PWA consuming
      Zebramo's backend services tailored for its existing mobile app.
    </p>
    <p>
      Built the internal marketing tool akin to Customer.io; letting the Zebramo
      team execute marketing scenarios based on customer behaviours, all
      scriptable via a web based diagramming environment.
    </p>

    <p>
      Under the same umbrella, built a sister web application in a related
      vertical, architected backend & frontend from the design stage to
      production.
    </p>

    <p>
      Technical works above consisted of Python/Django/Wagtail CMS backed by
      PostgreSQL and Redis; as for the frontend stack Vue/Nuxt.js, JointJS,
      segment.io were chosen.
    </p>
  </section>

  <section>
    <h3>CONTRACT DEVELOPER; WIZBU</h3>
    <time datetime="2017">2017Q1 – 2018Q2</time>

    <p>
      Helped Wizbu bootstrap several mobile projects. Wizbu was a software
      agency mainly involved in IOT and E-commerce verticals.
    </p>
    <p>Technical work mostly consisted of React Native and Swift.</p>
  </section>

  <section>
    <h3>CONTRACT DEVELOPER; ASOSYALSOZLUK</h3>
    <time datetime="2015">2015Q2 – 2016Q4</time>
    <p>
      Built <a href="https://asosyalsozluk.com" target="_blank">Asosyalsozluk</a
      > - a social media / forum / online dictionary application (concept
      locally popular in Turkey) from the ground up with a team of 3.
    </p>
    <p>
      Technical work consisted mainly of Python, Django, TypeScript, XMPP,
      Docker/Kubernetes on the backend. On the frontend side the tech stack was
      Vue.js and React-Native. Later in the product’s lifecycle, frontend stack
      has migrated to React/Next.js. The application is still online and
      maintained by the original team.
    </p>
    <p class="commentary">
      This role marks the beginning of my consulting/freelance era going
      full-stack with my newly acquired frontend experience.
    </p>
  </section>

  <section>
    <h3>CTO/CO-FOUNDER; YCEO/EKSERIYA</h3>
    <time datetime="2012">2012Q2 – 2015Q2</time>
    <p>
      Built a team of ~10 making mobile/desktop games. Served as the CEO and
      CTO. Hired and worked closely with multiple groups of software engineers,
      designers and 3D artists.
    </p>
    <p>
      Technical work consisted mainly of C++, OpenGL, Javascript, HTML5 and
      mobile SDK's of IOS and Android. Managed a team of 6 graphic designers and
      modelers.
    </p>
    <p class="commentary">
      The parent company wanted me to build a gaming company that targets mobile
      and web platforms at the same time. As an hiatus to web development and
      management in my previous role, I took the lead here. But then I got
      almost burnt out in the process of building this company especially
      struggling with the graphics/frontend departments. In the end we had to
      shut down the operations as the parent company cut the funding due to
      economic crisis de jour. This is also the time when I got the bug for
      frontend tech, trying to escape state management hell via JQuery was no
      good for our HTML5 games and that led us into involving with very early
      releases of React.
    </p>
  </section>

  <section>
    <h3>CTO; YCEO/TACIRNET</h3>
    <time datetime="2010">2010Q – 2012Q2</time>
    <p>
      Architected and built a Python based E-commerce platform akin to Shopify.
      Served as the tech leadn and then the first CTO. Grew a team of ~20.
      Technical work consisting of Python, Django, Redis, PostgreSQL.
    </p>
    <p>
      Under the same umbrella company I also took a part of a team building an
      Intranet Application for TCDD (Turkish National Railways) enabling TCDD to
      track their wagons more precisely via GPS. Worked closely with the
      engineering team designing kinetic energy powered GPS hardware. Technical
      work mainly consisted of Python, PHP, PostgreSQL, OpenLayers.
    </p>
    <p class="commentary">
      This was my oddly early foray into management. Building a Python IDE
      previously did surely fast tracked me into a management role at this
      Python/Django company early 2010’s. These were the days before Docker or
      any kind of containerization stack so we had to build custom
      infrastructure with bash scripts serving 100+ companies' E-commerce
      websites.
    </p>
  </section>

  <section>
    <h3>SOFTWARE DEVELOPER; PFAIDE</h3>
    <time datetime="2009">2009 - 2010</time>
    <p>Designed and built a shareware Python IDE for Windows platforms.</p>
    <p>
      The work mainly consisting of Delphi, Python, C, Win32. Open sourced the
      result after a shareware flop.
    </p>
    <p class="commentary">
      These were my formative years, I started building this in my teens. By the
      time I released this IDE to the wild (<a
        href="https://www.reddit.com/r/programming/comments/ajqbu/hi_reddit_i_made_a_python_ide_for_windows_and/"
        >check out the reddit thread back then</a
      >), there were already great text editors and IDE's like PyCharm,
      Textmate, Sublime Text and the outlook on Windows as a development OS was
      looking bleak so I had to stop development and move on. But to this day, I
      have never again felt such productivity Delphi offers.
    </p>
  </section>

  <section>
    <h3>SOFTWARE DEVELOPER; MORFIK TECHNOLOGIES</h3>
    <time datetime="2006">2006 - 2008</time>
    <p>
      Helped integrating Morfik's backend platform port to Linux using
      FreePascal. Morfik was a Web 2.0 IDE solution and a platform generating
      Web Apps from Object Pascal/Visual Basic code bases a la Delphi for Web
      2.0.
    </p>
    <p>Technical work mainly consisted of Delphi/Object Pascal on Linux.</p>
  </section>

  <h2># Education</h2>
  <p>I'm a drop out physicist. Sakarya University, 2003-2009.</p>
</Layout>
